<launch>
  <arg default="$(find robokrub_base_description)/urdf/robokrub_base.xacro" name="model"/>
  <arg default="true" name="gui"/>
  <arg default="$(find robokrub_base_description)/launch/urdf.rviz" name="rvizconfig"/>
  <param command="$(find xacro)/xacro $(arg model)" name="robot_description"/>
  <param name="use_gui" value="$(arg gui)"/>
  <node args="-d $(arg rvizconfig)" name="rviz" pkg="rviz" required="true" type="rviz"/>
</launch>
