<launch>
  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
    <param name="scan_height" value="10"/>
    <param name="output_frame_id" value="sensor_d435_depth_frame"/>
    <param name="range_min" value="0.2"/>
    <remap from="image" to="/camera/depth/image_raw"/>
    <remap from="scan" to="/realsense_scan"/>
  </node>
</launch>