<launch>
  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->
  <param name="robot_description"
    command="$(find xacro)/xacro $(find robokrub-base-v3_description)/urdf/robokrub-base-v3.xacro" />
    

  <!-- BEGIN ROBOT 1-->
  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find robokrub-base-v3_description)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 2 -y -0.5 -z 0" />
      <arg name="robot_name"  value="Robot1" />     
    </include>
  </group>

</launch>  
 
 